@media (max-width: 1586px) {
    .mus-pic{
        display: none;
    }
}
@media  (max-width: 1400px) {
    .sales-item{
        display:block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sale{
        margin-top: -20px;
    }
    .sale-text{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .sale-title{
        text-align: center;
    }
    .sale-disc{
        text-align: center;
    }
    .sale-pic {
        padding-bottom: 20px;
    }
    .footer-topline{
        width: 1190px;
    }
    .pop1{
        margin-top: 80px;
    }
}
@media (max-width: 1300px) {
    .card-title{
        font-size: 28px;
    }
    .card-desc{
        font-size: 18px;
    }
}
@media (max-width: 1220px) {
    .logo_name{
        padding-right: 40px;
    }
}